@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(
        #{$min-value} +
          #{strip-unit($max-value - $min-value)} *
          (100vw - #{$min-vw}) /
          #{strip-unit($max-vw - $min-vw)}
      );
    }
  }

  @media (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

.slideinout-enter-active {
  animation: acrossIn .56s ease-out both;
} 

.slideinout-leave-active {
  animation: acrossOut .46s ease-in both;
} 

@keyframes acrossIn {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes acrossOut {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
.container {
  width: 100vw;
  height: 100vh;
  padding: 3em;
}
a, a:visited {
  text-decoration: none;
}
.dark-mode body {
  background-color: #091a28;
  color: #ebf4f1;
}
.dark-mode h3 a {
  color: #ebf4f1;
}
.dark-mode .nav li a {
  color: #ebf4f1 !important;
}
.light-mode .nav li, .light-mode h3, .sepia-mode .nav li, .sepia-mode h3 { 
  a {
  color: #10334f !important;
  }
}
.sepia-mode body {
  background-color: #f1e7d0;
  color: #433422;
}

