:root {
  --dark: #10334f;
  --light: #ebf4f1;
  --sepia: #f1e7d0;
  --sepiatxt: #433422;
}

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(
        #{$min-value} +
          #{strip-unit($max-value - $min-value)} *
          (100vw - #{$min-vw}) /
          #{strip-unit($max-vw - $min-vw)}
      );
    }
  }

  @media (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

/*
/* Transitions */

.slideinout-enter-active {
  animation: acrossIn .56s ease-out both;
} 

.slideinout-leave-active {
  animation: acrossOut .46s ease-in both;
} 

@keyframes acrossIn {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes acrossOut {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

a, a:visited {
  text-decoration: none;
}


/*
/* Color Mode*/

.dark-mode {
  body {
    background-color: var(--dark);
    color: var(--light);
  }
  h3 a {
    color: var(--light);
  }
  .nav li a, svg {
    color: var(--light) !important;
    fill: var(--light);
  }
}

.light-mode {
  body {
    background-color: var(--light);
    color: var(--dark);
  }
  h3 a {
    color: var(--dark);
  }
  .nav li a, svg {
    color: var(--dark) !important;
    fill: var(--dark);
  }
}

.sepia-mode {
  body {
    background-color: var(--sepia);
    color: var(--sepiatxt);
  }
  h3 a {
    color: var(--sepiatxt);
  }
  .nav li a, svg {
    color: var(--sepiatxt) !important;
    fill: var(--sepiatxt);
  }
}

/*
/* Page Transitions */
img {
  position: relative;
  width: 100vw;
  height: auto;
}

.preloader {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}

.nav {
  position: sticky;
  z-index: 2;
  width: 100vw;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
}

.external {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.external a {
  padding: 0 0.5rem;
  height: 24px;
}

.nav use {
  transition: all 1s ease;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.thumbnails {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 5vw;
}

.city {
  display: flex;
  align-items: center;
  will-change: transform;
  position: relative;
  overflow: hidden;
}

.london {
  width: 332px;
  height: 560px;
}

.london img {
  height: 100%;
  width: auto;
}

.paris {
  width: 100vw;
  margin: auto -50vw 0;
}

.ny {
  width: 328px;
  height: 537px;
  margin-top: 8rem;
  justify-content: center;
}

.ny img {
  height: 100%;
  width: auto;
}

.cover {
  width: 100vw;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.article__content {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 2rem;
}

.back__link {
  padding: 1rem 0;
  display: block;
}

.article__content p {
  font-size: 18px;
}

.article__content h1 {
  margin-bottom: 24px;
  font-size: 48px;
}

@media screen and (min-width: 1300px) {
  .thumbnails {
    display: flex;
  }
  .cover {
    height: 537px;
  }
  .paris {
    height: 537px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: all .3s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
